.new {
    padding: 50px 20px;

    box-sizing: border-box;

    text-align: center;
}

.new__title {
    margin: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
}

.new__list {
    display: flex;
    flex-direction: row;

    min-width: 100%;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    -webkit-overflow-scrolling: touch;
}

.new__list::-webkit-scrollbar {
    display: none;
}

.new__item {
    position: relative;

    min-width: 45%;
    height: 370px;

    margin-right: 10px;
    padding: 20px;

    box-sizing: border-box;

    background: transparent url('../../images/new.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.new__item:last-of-type {
    margin-right: 0;
}

.new__item-head {
    margin: 0 0 auto;

    font-weight: 900;
    font-size: 35px;
    line-height: 40px;

    color: #FF6600;
}

.new__item-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);;
}

.new__item-title {
    margin: 0;

    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
}

.new__item-subtitle {
    margin: 10px 0 20px;

    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}