.catalog__container {
    padding: 40px 165px;

    box-sizing: border-box;
}

.catalog__title {
    margin: 0;

    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 30px;

    margin-top: 30px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    height: 408px;

    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    background-color: #fff;

    text-align: center;
    color: #000;

    border: 1px solid;
}

.catalog__item-img {
    width: 257px;
    height: 257px;
}

.catalog__item-title {
    margin: 0;

    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
}

.catalog__item-price {
    margin: 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}