.header {
    display: flex;
    flex-direction: column;

    height: 100vh;
    
    padding: 20px;

    box-sizing: border-box;

    background: linear-gradient(45deg, rgba(20, 20, 20, 0.8), rgba(35, 35, 35, 0.5)), url('../../images/home_page.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

.header__container {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.header__logo {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 180px;
    height: 220px;

    z-index: 100;
}

.header__logo-name {
    margin: 0;

    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
}