.footer {
    padding: 20px 40px;

    box-sizing: border-box;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    width: 100%;

    display: flex;
    justify-content: center;
}

.footer__item {
    display: flex;
    align-items: center;

    margin-right: 25px;
    padding-right: 25px;

    border-right: 1px solid #fff;

    box-sizing: border-box;
}

.footer__item:last-of-type {
    margin-right: 0;

    border-right: none;
}

.footer__item-img {
    width: 15px;
    height: 15px;
}

.footer__item-info {
    margin: 0 0 0 8px;

    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}